


button {
    width: 90px;
    height: 90px;
    background: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}



.imgButton {
    width: 68px;
    height: 68px;
    color: #F20C0C;
}

.imgButton:hover {

    width: 78px;
    height: 78px;

}

.container {
    background: #232526;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 373px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);
}

.content {
    background: #8C0404;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 249px;
    border-radius: 5px;
}

.span1 {
    color: white;
    font-size: 72px;
    font-family: 'inter';
}

.span2 {
    color: white;
    font-size: 96px;
    font-family: 'inter';
}


@media (max-width: 540px) {
    .container {
        max-width: 80vw;
    }

    .content {
        
            max-width: 70vw;
        
    }
}