.saudation {
    font-family:'Indie Flower', cursive;
    margin-bottom: 10px;
}

.pSaudation {
    color:black;
    font-size: 39px;
    margin-bottom: 2px;
}

@media (max-width: 540px) {
   

    .pSaudation {
        margin-top: 110px;
        font-size: 23px;
        
    }
}